<!-- <mat-card *ngFor="let movie of movies; let i=index;">
  <mat-dialog-content>
    <mat-card-title>{{movie.Title}}</mat-card-title>
    <mat-card-subtitle><img src={{movie.ImagePath}}></mat-card-subtitle>
  </mat-dialog-content>
</mat-card> -->

<div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
      <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImagePath}} alt= {{movie.Title}} />
      <mat-card-actions>
          <button
              mat-button
              (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
              color="primary"
          >
              Genre
          </button>
          <button
              mat-button
              (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
              color="primary"
          >
              Director
          </button>
          <button
              mat-button
              (click)="openSynopsisDialog(movie.Description)"
              color="primary"
          >
              Synopsis
          </button>
          <mat-icon
            (click)="addFavMovie(movie._id, movie.Title)"
          >
              favorite_border
          </mat-icon>
      </mat-card-actions>
  </mat-card>
</div>

<div>
  <button
    mat-raised-button
    (click)="openUserProfileDialog()"
    style="margin-left: 10px; margin-top: 20px;"
    color="primary"
  >
    Go to Profile Information
  </button>
</div>
