<div>
  <mat-card *ngFor="let user of users; let i=index;">
    <mat-dialog-content>
      <mat-card-title>Profile Information</mat-card-title>
      <br/>
      <mat-card-subtitle>Username: {{user.username}}</mat-card-subtitle>
      <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
      <mat-card-subtitle>Favorite Movies: {{user.favoriteMovie}}</mat-card-subtitle>
    </mat-dialog-content>
  </mat-card>
</div>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit Profile Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input
            matInput
            placeholder="New Username"
            type="text"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="New Password"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="New Email"
            type="email"
          >
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
