<div>
  <mat-card *ngFor="let user of users; let i=index;">
    <mat-dialog-content>
      <mat-card-title>Profile Information</mat-card-title>
      <br/>
      <mat-card-subtitle>Username: {{user.username}}</mat-card-subtitle>
      <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
      <mat-card-subtitle>Favorite Movies: {{user.favoriteMovie}}</mat-card-subtitle>
    </mat-dialog-content>
  </mat-card>
</div>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit Profile Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input
            matInput
            class="input"
            [(ngModel)]="userData.username"
            placeholder="new username"
            type="text"
            name="username"
            required
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            class="input"
            [(ngModel)]="userData.password"
            type="password"
            placeholder="new password"
            name="password"
            required
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            class="input"
            [(ngModel)]="userData.email"
            placeholder="new email"
            type="email"
            name="email"
            required
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        (click)="editUserData()"
        color="primary"
      >
        Edit Profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<br/>

<div>
  <h1>Your Favorite Movies</h1>
  <mat-card *ngFor="let movie of favMovies; let i = index">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed By: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt= {{movie.Title}} />
  </mat-card>
</div>
